@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {font-family: "Schibsted Grotesk", sans-serif}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.site {
  background: #3e59b8;
  transition: ease 1s;
  padding: 15px;
  width: 310px;
  border-radius: 10px;
}

.site:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
  transform: scale(1.3,1.3);
}

body,html {
  text-align: center;
  background: #273f91;
}

button {
  border: none;
  padding: 10px;
  background: #6cc263;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 200ms;
}

button:hover {
  border-radius: 2px;
}

input {
  color: black;
}

.divider {
  width: 50%;
  height: 3px;
  background: white;
  margin: auto;
  border: 10px solid rgba(0,0,0,0)
}
